@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
	max-width:100%;
	min-width:42em;
	background-color:#DDDDDD;
	margin:0px;
	padding:0px;
	font-family: Georgia, serif;
	line-height: 133%;
}

body,p,.content {
	color:#333333;
}

.note {
	font-size:9pt;
	color:#333333;
}

img {
	border:none;
}

table {
	border-collapse:collapse;
}

th {
	border-top:2px solid #FFFFFF;
	border-bottom:2px solid #FFFFFF;
}

td {
	border-bottom:2px solid #FFFFFF;
}

tt {
	white-space:nowrap;
}

/* links */

a {
	color:#990000;
	text-decoration:none;
	border-bottom:1px solid #990000;
}

a:visited {
	border-bottom:1px dashed #990000;
}

a:hover {
	color:#000000;
}

/* encasing div blocks */

.heading {
	position:absolute;
		top:0px; left:0px;
		right:0px; height:125px;
	font-size:12px;
	background:#242424;
	border-bottom:5px solid #FFB92A;
}

.trailing {
	position:absolute;
		top:130px;
}

/* stuff outside of encasing div blocks */

h1 {
	position:absolute;
		top:25px; left:200px;
	line-height:1.2em;
	color:#FFFFFF;
	font-family: Oswald, serif;
	font-size:3em;
	z-index:2;
}

/* stuff in .heading */

.hdrlnks {
	position:absolute;
		top:0px; left:27px;
	z-index:1;
}

/* encasing blocks inside .trailing */

.index {
	float:left;
	width:170px;
	border-right:5px solid #FFFFFF;
}

.content {
	max-width:720px;
	margin: 130px auto;
	padding:0px 6px 6px 12px;
	border-left:2px solid #FFFFFF;
	border-right:2px solid #FFFFFF;
}

.footer {
	clear:both;
	padding:0px 4px 0px 4px;
	font-size:10pt;
	border-top:2px solid #333333;
}

.footer p {
	line-height:100%;
}

/* styles for the wlog, news, … */

div.wlentry {
	padding-top:9px;
	margin:0px;
}

div.wltitle {
	padding-bottom:3px;
	border-bottom:2px solid #666;
}

h2.wlentry {
	color:#990000;
	font-weight:normal;
	font-family: Oswald, serif;
	font-size:150%;
	display:inline;
}

h2 a {
	text-decoration:none;
	font-style:italic;
	border-bottom:none !important;
}

.wlsubtitle {
	font-family: Oswald, serif;
	font-weight:normal;
	color:#777777;
	display:inline;
	padding-left: 1em;
	white-space:nowrap;
}

.wltagtitle {
	font-weight:normal;
	font-size:80%;
}

.wltagtitle:before {
	content:" ";
}

.linkbot {
	padding:18px 0px 14px 0px;
	border-top:2px solid #666666;
}
